@import url("../tela_de_login/style.css");

.container{
    display: flex;
    flex-direction: column;
   justify-content: start;
    transition: opacity 0.45s ease, transform 0.15s ease;
}

.Inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
}


   
.Start{
 
    margin-top:20px;
}

.Start h2{
    font-size: 2.5em;
    font-weight: 500;
}

.botoes{
    margin-bottom: 20px;
}




.cardSucesso {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #1b4332;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    animation: aparecer .3s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



